doctype html
html
	head
		title UAWC7 Final
		link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		#content
			//include ../texts/uawc_text_test.html
			include ../texts/uawc_text.html
		script(src='lib/requirejs/require.js', data-main='js/main')